@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&family=Source+Code+Pro:ital@1&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100wh;
    height: 100vh;
    display: flex;
}
/* Side Bar CSS */
#sideBar{
    /* background-color: rgb(49, 27, 27); */
    background: linear-gradient(black,gray,black);

    width: 15%;
    height: 100vh;
}
#sideBar ul{
    margin-top: 10vh;
    width: 80%;
    margin: auto;
}
#sideBar ul li{
    color: white;
    list-style: none;
    font-size: 5vmin;
    padding-top: 10px;
    margin-top: 20%;
}
#sideBar ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Port Lligat Sans', sans-serif;

}


#mainContentContainer{
    height: 100%;
    width: 85%;
    /* background: linear-gradient(gray,black); */

    /* background-color: rgb(5, 1, 1); */
    /* color: white; */
    font-family: 'Source Code Pro', monospace;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-wrap: wrap;
}
/* Home Button Click CSS for mainContainer */
#mainContentContainer #text{
    /* border: 2px solid blue; */
    height: 50%;
    width: 50%;
    margin-top: 12.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* color: white; */
}
#mainContentContainer h1{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 20vmin;
    margin-top: -5px;
    margin-bottom: -15px;
}
#mainContentContainer #myPicContainer img{
    height: 70%;
    margin-top: 10%;
}

/* Contact Form CSS  */
#contactFormContainer{
    margin-top: 5%;
    border: 5px solid black ;
    background: linear-gradient(white,black,gray);
    border-radius: 10%;
    background-color: rgba(255,255,255);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
#formHeading h1{
    text-align: center;
    font-size: 9vmin;
    margin-bottom: 5%;
    color: white;
}

#mainContentContainer #contactForm .formInput{
    text-align: center;
}
#mainContentContainer #contactForm .formInput input{
    width: 90%;
    height: 40px;
    padding: 10px 8px;
    margin: 4px 10px;
    border-radius: 10px;
    font-size: 2.5vmin;
    font-family: 'Port Lligat Sans', sans-serif;
}
#contactFormBtn{
    background-color: black;
    color: white;
    cursor: pointer;
}
#contactFormBtn:hover{
    background-color: rgb(65, 13, 13);

}